In [2]:
import pandas as pd
import glob
import datetime

bike_csv_files = glob.glob('*citibike-tripdata.csv')
bike_dfs = []
for file in bike_csv_files:
    df = pd.read_csv(file)
    bike_dfs.append(df)

combined_bike_df = pd.concat(bike_dfs, ignore_index=True)

print(combined_bike_df.head())

combined_bike_df.info()

combined_bike_df.isna().sum()

#combined csv files with same columns and get some basic info for analysis on the data

   Trip Duration           Start Time            Stop Time  Start Station ID  \
0            361  2016-02-01 00:31:18  2016-02-01 00:37:19              3202
1            297  2016-02-01 01:55:05  2016-02-01 02:00:02              3195
2           1155  2016-02-01 02:40:05  2016-02-01 02:59:20              3183
3           1769  2016-02-01 05:11:28  2016-02-01 05:40:58              3214
4            935  2016-02-01 05:48:24  2016-02-01 06:03:59              3203

  Start Station Name  Start Station Latitude  Start Station Longitude  \
0       Newport PATH               40.727224               -74.033759
1            Sip Ave               40.730743               -74.063784
2     Exchange Place               40.716247               -74.033459
3   Essex Light Rail               40.712774               -74.036486
4      Hamilton Park               40.727596               -74.044247

   End Station ID  End Station Name  End Station Latitude  \
0            3203     Hamilton Park             40.727596
1            3194   McGinley Square             40.725340
2            3210    Pershing Field             40.742677
3            3203     Hamilton Park             40.727596
4            3214  Essex Light Rail             40.712774

   End Station Longitude  Bike ID   User Type  Birth Year  Gender
0             -74.044247    24393  Subscriber      1975.0       1
1             -74.067622    24394  Subscriber      1985.0       2
2             -74.051789    24676  Subscriber      1976.0       1
3             -74.044247    24700  Subscriber      1974.0       2
4             -74.036486    24639  Subscriber      1974.0       2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247584 entries, 0 to 247583
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Trip Duration            247584 non-null  int64
 1   Start Time               247584 non-null  object
 2   Stop Time                247584 non-null  object
 3   Start Station ID         247584 non-null  int64
 4   Start Station Name       247584 non-null  object
 5   Start Station Latitude   247584 non-null  float64
 6   Start Station Longitude  247584 non-null  float64
 7   End Station ID           247584 non-null  int64
 8   End Station Name         247584 non-null  object
 9   End Station Latitude     247584 non-null  float64
 10  End Station Longitude    247584 non-null  float64
 11  Bike ID                  247584 non-null  int64
 12  User Type                247204 non-null  object
 13  Birth Year               228585 non-null  float64
 14  Gender                   247584 non-null  int64
dtypes: float64(5), int64(5), object(5)
memory usage: 28.3+ MB

Trip Duration                  0
Start Time                     0
Stop Time                      0
Start Station ID               0
Start Station Name             0
Start Station Latitude         0
Start Station Longitude        0
End Station ID                 0
End Station Name               0
End Station Latitude           0
End Station Longitude          0
Bike ID                        0
User Type                    380
Birth Year                 18999
Gender                         0
dtype: int64

In [46]:
combined_bike_df['start_time'] = pd.to_datetime(combined_bike_df['start_time'])

combined_bike_df['stop_time'] = pd.to_datetime(combined_bike_df['stop_time'])

combined_bike_df['birth_year'] = pd.to_datetime(combined_bike_df['birth_year'])

combined_bike_df.columns = [x.replace(' ', '_').lower() for x in combined_bike_df.columns]

#change data types where necessary to datetime

In [3]:
airport_csv = pd.read_csv('newark_airport_2016.csv')
print(airport_csv.head())

airport_csv.info()

airport_csv.isna().sum()

airport_csv.columns = [x.replace(' ', '_').lower() for x in airport_csv.columns]
airport_csv['date'] = pd.to_datetime(airport_csv['date'])

#read csv file of weather airport data, and basic cleaning up of spaces, changing data types etc

#All PGTM and TSUN values null, so remove the columns
airport_csv_filtered = airport_csv.dropna(axis=1, how='all')

#dropping station and name as all data has come from the same station with the same name
airport_csv.drop(['station', 'name', 'pgtm', 'tsun', 'wdf2', 'wdf5', 'wsf2', 'wsf5'], axis=1, inplace=True)

       STATION                                         NAME        DATE  \
0  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-01
1  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-02
2  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-03
3  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-04
4  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-05

    AWND  PGTM  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN  TSUN  WDF2   WDF5  WSF2  \
0  12.75   NaN   0.0   0.0   0.0    41    43    34   NaN   270  280.0  25.9
1   9.40   NaN   0.0   0.0   0.0    36    42    30   NaN   260  260.0  21.0
2  10.29   NaN   0.0   0.0   0.0    37    47    28   NaN   270  250.0  23.9
3  17.22   NaN   0.0   0.0   0.0    32    35    14   NaN   330  330.0  25.9
4   9.84   NaN   0.0   0.0   0.0    19    31    10   NaN   360  350.0  25.1

   WSF5
0  35.1
1  25.1
2  30.0
3  33.1
4  31.1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  366 non-null    object
 1   NAME     366 non-null    object
 2   DATE     366 non-null    object
 3   AWND     366 non-null    float64
 4   PGTM     0 non-null      float64
 5   PRCP     366 non-null    float64
 6   SNOW     366 non-null    float64
 7   SNWD     366 non-null    float64
 8   TAVG     366 non-null    int64
 9   TMAX     366 non-null    int64
 10  TMIN     366 non-null    int64
 11  TSUN     0 non-null      float64
 12  WDF2     366 non-null    int64
 13  WDF5     364 non-null    float64
 14  WSF2     366 non-null    float64
 15  WSF5     364 non-null    float64
dtypes: float64(9), int64(4), object(3)
memory usage: 45.9+ KB

In [101]:
airport_csv.dtypes

rec_date      datetime64[ns]
avg_wind             float64
prcp                 float64
snow_amt             float64
snow_depth           float64
tavg                   int64
tmax                   int64
tmin                   int64
rain                    bool
snow                    bool
dtype: object

In [99]:
#add new columns for better analysis
airport_csv['rain'] = airport_csv['prcp'].apply(lambda x: 1 if x > 0 else 0).astype(bool)
airport_csv['snow'] = airport_csv['snow_amt'].apply(lambda x: 1 if x > 0 else 0).astype(bool)

Index(['rec_date', 'avg_wind', 'prcp', 'snow_amt', 'snow_depth', 'tavg',
       'tmax', 'tmin', 'rain', 'snow'],
      dtype='object')

In [100]:
print(combined_bike_df.columns)
print(airport_csv.columns)

Index(['trip_duration', 'start_time', 'stop_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'birth_year', 'gender', 'valid_duration'],
      dtype='object')
Index(['rec_date', 'avg_wind', 'prcp', 'snow_amt', 'snow_depth', 'tavg',
       'tmax', 'tmin', 'rain', 'snow'],
      dtype='object')